.rating {
    white-space: nowrap;
    i {
        @include styleText(orange, $fs-1, $fw-bold-1);
        margin-right: $mg-0;
    }
    span:first-child {
        font-weight: 700;
        color: #505763;
    }
    span:last-child {
        font-size: 12px;
        font-weight: 400;
        color: #686f7a;
        margin-left: 5px;
    }
}
.price {
    white-space: nowrap;
    text-align: right;
    span:first-child {
        @include styleText($color-black-0, $fs-1, $fw-normal);
        text-decoration: line-through;
    }
    span:last-child {
        @include styleText($color-black-0, $fs-2 -2, $fw-bold);
        margin-left: $mg-1;
    }
}
