@mixin styleText($color,$fs,$fw) {
    color:$color;
    font-size:$fs ;
    font-weight:$fw ;
}

// $screen: chứa tên màn hình
@mixin responsive_max($screen) {
    // $screen:small
    @if(map-has-key($map:$breakpoints , $key:$screen )){
        //đúng tên màn hình
        //lấy giá trị màn hình theo tên
        $value: map-get($map:$breakpoints , $key:$screen );
        @media screen and (max-width:$value) {
            @content;
        }
    }
    @else{
        @warn "Man hinh khong ton tai";
    }
}

@mixin responsive_min($screen) {
    // $screen:small
    @if(map-has-key($map:$breakpoints , $key:$screen )){
        //đúng tên màn hình
        //lấy giá trị màn hình theo tên
        $value: map-get($map:$breakpoints , $key:$screen );
        @media screen and (min-width:$value) {
            @content;
        }
    }
    @else{
        @warn "Man hinh khong ton tai";
    }
}