.udeCarousel {
    background-image: url(/img/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 520px;

    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 15px;
    .container {
        margin: 30px 15px;
        .carousel_content {
            h2 {
                @include styleText($color-white-0, 40px, $fw-bold-1);
                line-height: 1.33;
            }
            p {
                @include styleText($color-white-0, 18px, $fw-normal);
                line-height: 1.61;
            }
            .form-control {
                font-size: 20px;
                height: 50px;
                padding: 11px 17px;
            }
            a {
                background-color: white;
            }
            .input-group-text {
                background-color: white;
                border: none;
                display: flex;
                padding: auto 0;
            }
        }
    }
}

// responsive
.udeCarousel {
    .container {
        .carousel_content {
            @include responsive_min("large") {
                max-width: 460px;
            }
        }
    }
}
