.intro {
    line-height: 1;
    .row {
        @include styleText($color-white-0, $fs-0, $fw-bold-1);
        background: linear-gradient(-45deg, #ec5252 0%, #6e1a52 100%);
        padding: 0 10px;
        .col-4 {
            align-items: center;
            padding: 20px 25px;
            width: 30%;
            .intro_icon {
                float: left;
                margin-right: 16px;
                margin-top: -2px;
                font-size: 47px;
            }
            .intro_content {
                h3 {
                    font-size: 17px;
                }
            }
        }
        .intro_1 {
            justify-content: flex-start;
        }
        .intro_2 {
            justify-content: center;
        }
        .intro_3 {
            justify-content: flex-end;
        }
    }
}
